body .login-form-wrapper {
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    height: 100%;
}

.login-form-wrapper strong {
    font-weight: 500;
}

.login-form-wrapper a,
.login-form-wrapper a:hover,
.login-form-wrapper a:focus {
    color: #de615e;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}


.login-form-wrapper h1,
.login-form-wrapper h2 {
        margin-top: 10px;
        font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.login-form-wrapper h3 {
        font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.login-form-wrapper img { max-width: 100%; }

.login-form-wrapper ::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
.login-form-wrapper ::selection { background: #de615e; color: #fff; text-shadow: none; }


.login-form-wrapper .btn-link-1 {
        display: inline-block;
        height: 50px;
        margin: 5px;
        padding: 16px 20px 0 20px;
        background: #de615e;
        font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.login-form-wrapper .btn-link-1:hover,
.login-form-wrapper .btn-link-1:focus,
.login-form-wrapper .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.login-form-wrapper .btn-link-1.btn-link-1-facebook { background: #4862a3; }
.login-form-wrapper .btn-link-1.btn-link-1-twitter { background: #55acee; }
.login-form-wrapper .btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.login-form-wrapper .btn-link-1 i {
        padding-right: 5px;
        vertical-align: middle;
        font-size: 20px;
        line-height: 20px;
}

.login-form-wrapper .btn-link-2 {
        display: inline-block;
        height: 50px;
        margin: 5px;
        padding: 15px 20px 0 20px;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #fff;
        font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.login-form-wrapper .btn-link-2:hover,
.login-form-wrapper .btn-link-2:focus,
.login-form-wrapper .btn-link-2:active,
.login-form-wrapper .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.login-form-wrapper .inner-bg {
    padding: 100px 0 170px 0;
}

.login-form-wrapper .top-content .text {
        color: #fff;
}

.login-form-wrapper .top-content .text h1 { color: #fff; }

.login-form-wrapper .top-content .description {
        margin: 20px 0 10px 0;
}

.login-form-wrapper .top-content .description p { opacity: 0.8; }

.login-form-wrapper .top-content .description a {
        color: #fff;
}
.login-form-wrapper .top-content .description a:hover,
.login-form-wrapper .top-content .description a:focus { border-bottom: 1px dotted #fff; }

.login-form-wrapper .form-box {
        margin-top: 35px;
}
.login-form-wrapper .form-top {
        overflow: hidden;
        padding: 0 25px 15px 25px;
        background: #444;
        background: rgba(0, 0, 0, 0.35);
        -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
        text-align: left;
}

.login-form-wrapper .form-top-left {
        float: left;
        width: 75%;
        padding-top: 25px;
}

.login-form-wrapper .form-top-left h3 { margin-top: 0; color: #fff; }
.login-form-wrapper .form-top-left p { opacity: 0.8; color: #fff; }

.login-form-wrapper .form-top-right {
        float: left;
        width: 25%;
        padding-top: 5px;
        font-size: 66px;
        color: #fff;
        line-height: 100px;
        text-align: right;
        opacity: 0.3;
}

.login-form-wrapper .form-bottom {
        padding: 25px 25px 30px 25px;
        background: #444;
        background: rgba(0, 0, 0, 0.3);
        -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
        text-align: left;
}

.login-form-wrapper .form-bottom form textarea {
        height: 100px;
}

.login-form-wrapper .form-bottom form button.btn {
        width: 100%;
}

.login-form-wrapper .form-bottom form .input-error {
        border-color: #de615e;
}

.login-form-wrapper .social-login {
        margin-top: 35px;
}

.login-form-wrapper .social-login h3 {
        color: #fff;
}


.login-form-wrapper .social-login-buttons {
        margin-top: 25px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .login-form-wrapper .inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

    .login-form-wrapper h1,
    .login-form-wrapper h2 { font-size: 32px; }

}


.login-form-wrapper input[type="text"],
.login-form-wrapper input[type="password"],
.login-form-wrapper textarea,
.login-form-wrapper textarea.form-control {
        height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.login-form-wrapper textarea,
.login-form-wrapper textarea.form-control {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 30px;
}

.login-form-wrapper input[type="text"]:focus,
.login-form-wrapper input[type="password"]:focus,
.login-form-wrapper textarea:focus,
.login-form-wrapper textarea.form-control:focus {
        outline: 0;
        background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.login-form-wrapper input[type="text"]:-moz-placeholder,
.login-form-wrapper input[type="password"]:-moz-placeholder,
.login-form-wrapper textarea:-moz-placeholder,
.login-form-wrapper textarea.form-control:-moz-placeholder { color: #888; }

.login-form-wrapper input[type="text"]:-ms-input-placeholder,
.login-form-wrapper input[type="password"]:-ms-input-placeholder,
.login-form-wrapper textarea:-ms-input-placeholder,
.login-form-wrapper textarea.form-control:-ms-input-placeholder { color: #888; }

.login-form-wrapper input[type="text"]::-webkit-input-placeholder,
.login-form-wrapper input[type="password"]::-webkit-input-placeholder,
.login-form-wrapper textarea::-webkit-input-placeholder,
.login-form-wrapper textarea.form-control::-webkit-input-placeholder { color: #888; }



.login-form-wrapper button.btn {
        height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #de615e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.login-form-wrapper button.btn:hover { opacity: 0.6; color: #fff; }

.login-form-wrapper button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.login-form-wrapper button.btn:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

.login-form-wrapper button.btn:active:focus,
.login-form-wrapper button.btn.active:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }
